In [1]:
#esercizio DATASET POKEMON

In [2]:
import pandas as pd
file_path="C:/Users/PANTANO/Desktop/Data Analyst/LEZIONI/3 Terzo Modulo Python/pokemon.csv"
df = pd.read_csv(file_path)

In [3]:
#Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna
print(df.shape)
print(df.info)
print(df.dtypes)
print(df.columns)

(800, 13)
<bound method DataFrame.info of        #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]>
#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object
Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [27]:
df.head(1)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [5]:
#• È verosimile che la prima colonna dovrebbe essere un indice?
print(df['#'].dtypes)
print("\nPrima colonna:")
print(df.iloc[:, 0].head())

int64

Prima colonna:
0    1
1    2
2    3
3    3
4    4
Name: #, dtype: int64

In [6]:
#Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano?
# non combacia perchè python conta da 0
is_index_equal = df.iloc[:, 0].equals(pd.Series(df.index))
print("\nLa prima colonna combacia con l'indice automatico di Pandas?", is_index_equal)

if not is_index_equal:
    df.set_index(df.columns[0], inplace=True)
    print("\nLa prima colonna è stata impostata come indice.")

# 5. Confermare l'indice
print("\nIndice del DataFrame:")
print(df.index)

La prima colonna combacia con l'indice automatico di Pandas? False

La prima colonna è stata impostata come indice.

Indice del DataFrame:
Index([  1,   2,   3,   3,   4,   5,   6,   6,   6,   7,
       ...
       714, 715, 716, 717, 718, 719, 719, 720, 720, 721],
      dtype='int64', name='#', length=800)

In [7]:
df.head(1)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [8]:
#Quali sono i Pokémon leggendari?
pokemon_leggendari=df[df["Legendary"]==True]
print("Pokémon leggendari:")
print(pokemon_leggendari[['Name', 'Legendary']])

Pokémon leggendari:
                    Name  Legendary
#
144             Articuno       True
145               Zapdos       True
146              Moltres       True
150               Mewtwo       True
150  MewtwoMega Mewtwo X       True
..                   ...        ...
719              Diancie       True
719  DiancieMega Diancie       True
720  HoopaHoopa Confined       True
720   HoopaHoopa Unbound       True
721            Volcanion       True

[65 rows x 2 columns]

In [33]:
#E quali sono i leggendari di tipo 1 Grass
filtro = pokemon_leggendari[pokemon_leggendari["Type 1"] == "Grass"]
filtro

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True

In [32]:
#E leggendari di tipo 1 Ice o Fire?
filtro2 = pokemon_leggendari[(pokemon_leggendari["Type 1"] =="Ice") | (pokemon_leggendari["Type 1"] =="Fire")]
filtro2

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [31]:
#Ordiniamo il dataset per la colonna Name
df_sorted = df.sort_values(by="Name")
df_sorted

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [34]:
#trasformiano name nell'indice
pokemon_index = df.set_index("Name")
pokemon_index

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [41]:
#Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?

g= df['Generation'] == 1
a= df['Attack'] > 50
hp= df['HP'] < 60

filtro3 = df[(g) & (a) & (hp)]
filtro3

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
46,Paras,Bug,Grass,285,35,70,55,45,55,25,1,False
50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
51,Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False
54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
56,Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False
58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
74,Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False
75,Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
82,Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
83,Farfetch'd,Normal,Flying,352,52,65,55,58,62,60,1,False
84,Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
99,Kingler,Water,NaN,475,55,130,115,50,50,75,1,False
106,Hitmonlee,Fighting,NaN,455,50,120,53,35,110,87,1,False
107,Hitmonchan,Fighting,NaN,455,50,105,79,35,110,76,1,False
109,Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
117,Seadra,Water,NaN,440,55,65,95,95,45,85,1,False
118,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False
133,Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False